@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+CZ:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');/* Reduce arrow size */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playwrite+CZ:wght@100..400&family=Playwrite+US+Trad+Guides&display=swap');

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  width: 20px !important;
  height: 20px !important;
  color: #000;             
  display: flex;
  align-items: center;
  justify-content: center;
  top: 100% !important;   
  transform: translateY(-50%);
  font-size: 20px !important; 
  padding-top: 5px !important;
}

.mySwiper .swiper-button-next {
  right: 5px !important;
}

.mySwiper .swiper-button-prev {
  left: 5px !important;
}
